header {
  background-color: var(--auxiliar-background-color);
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
}
header nav {
  display: flex;
  gap: 10px;
  margin-left: 1rem;
}
header a,
nav > a {
  text-decoration: none;
  color: var(--shadow-color);
  font-weight: bold;
}
header > a, .primaryBtn{
  color: var(--text-color-one);
}

.dashboard h2{
  width: 80%;
  margin: auto;
  text-transform: capitalize;
}

.title-and-options {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}
.title-and-options h2 {
  color: var(--text-color-one);
}
.title-and-options .contBtn {
  display: flex;
  gap: 5px;
}

.title-and-options .contBtn a {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: var(--text-color-one);
  background-color: var(--button-color-one);
  cursor: pointer;
  text-decoration: none;
}


.containerTasks {
  width: 80%;
  margin: 3rem auto;
  gap: 10px;
  

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.containerTasks .card{
    background-color: var(--auxiliar-background-color);
    flex-basis: 320px;
    flex-grow: 1;
    border: 1px solid var(--shadow-color);
    border-radius: 3px;
    color: var(--text-color-one);
    padding: 1rem 2rem;
    box-sizing: border-box;
    max-width: fit-content;
}
.headerCard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.headerCard h2{
  width: fit-content;
  margin: 0;
}

.bodyCard .bodyCardRow{
  margin: 1rem auto;
  padding: 1rem;
  gap: 10px;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.row >small{
  color: var(--text-color-one) !important;
}

.bodyCard .bodyCardRow .bodyCardCol{

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bodyCard .bodyCardRow .bodyCardCol small{
font-size: 1rem;
color: var(--text-color-two);
}


.bodyCard .bodyCardRow .bodyCardCol .tagStatus{
 padding: 5px 1rem;
 border-radius: 50px;
 border: 1px solid var(--shadow-color);
}