@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap");


:root{
  --main-background-color:#f3f4f666;
  --auxiliar-background-color:#fefdfd;
  --text-color-one:#000F08;
  --button-color-one:#f4f4f5cc;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background-color);
}

section {
  width: 90%;
  margin: auto;
  color: #f7f0f0;
  padding-bottom: 60px;
  
}
section .cont-form  {
  width: 100%;
}
section .cont-form h2 {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
section .cont-form form {
  display: flex;
  flex-direction: column;
  width:90%;
  margin: 30px auto;
  padding: 30px 20px;
  border-radius: 0px 5px 5px 0px;
  border-left: 5px solid #fe7f2d;
  background: #84828f23;
}
section .cont-form form input {
  text-align: center;
  margin-bottom: 7px;
}
section .cont-form form label {
  font-weight: 600;
}
section .cont-form form input[type="text"] {
  height: 30px;
  line-height: 30px;
}
section .cont-form form .cont-form-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section .cont-form form .cont-form-date .cont-date {
  display: flex;
  flex-direction: column;
  width: 45%;
}
section .cont-form form input[type="datetime-local"] {
  height: 40px;
  line-height: 40px;
  border: 1px solid #84828f;
  width: 100%;
}

section .cont-form form button {
  width: 120px;
  margin: 15px auto;
  margin-bottom: 0px;
  border: 1px solid #f7f0f0;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  background: #242936;
  color: #f7f0f0;
  cursor: pointer;
  transition: all 0.3s ease;
}

section .cont-form form button:hover {
  border: 1px solid #fe7f2d;

  background: #242936e3;
  color: #fe7f2d;
  transition: all 0.3s ease;
  box-shadow: #3d3c3e95;
}

section .form_row {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
section .form_row .cont_form_group_task{
  width: 40%;
}
section .form_row .cont_form_new_task{
  width: 60%;
}
.cont_groups, .cont_tags{
  display: flex;
  flex-direction: column;
}
.areaSeeTags{
  width: 100%;
  min-height: 50px;
}
.allTagsAdded
{
  width: 60%;
  background: red;
}
.prev_tags{
  width: 30%;
  margin: 10px auto;
}
.cont_tag{
  box-sizing: border-box;
  width: max-content;
  padding: 5px 20px;
  border-radius: 15px;
  border: 2px solid white;
  color: white;
  text-transform: capitalize;
}

.btnDeleteTag{
  cursor: pointer;
  font-weight: bolder;
}